<div class="sidebar">
  <a href="#">HOME</a>
  <div class="dropdown">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PRODUCT</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">ADD</a></li>
      <li><a class="dropdown-item" href="#">LIST</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">[USERNAME]</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">LOGIN</a></li>
      <li><a class="dropdown-item" href="#">LOGOUT</a></li>
      <li><a class="dropdown-item" href="#">PROFILE</a></li>
    </ul>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet> <!-- Your main content goes here -->
</div>
